body {
  font-family: sans-serif;
  box-sizing: border-box;
  max-width: 800px;
}

.pc_1,
.pc_2 {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 5%;
}

.pc_1 img,
.pc_2 img {
  width: 30%;
}

.parts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.result {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}
